body{
  margin: 0;
  font-family: Arial;
  font-size: 12px;
}

.logo {
    background-color: #34558c;
    height: 80px;
    border-top: 4px solid #3e66a3;
}

.social-banner {
    background: transparent url(../images/header-section2-bg.png) left top repeat-x;
    height: 130px;
}

.social-banner .img-banner {
  padding-top: 20px;
}

.img-logo {
  max-height: 128px;
  float: left;
}

.img-banner {
  max-width: 712px;
  margin: auto;
}

.header {
    background: transparent url(../images/header-section3-bg1.png) left top repeat-x;
    height: 50px;
}

.area-interesse {
    width: 178px;
    margin-right: 15px;
    float: left;
    margin-top: 10px;
    height: 25px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #4d76bd;
    font-weight: bold;
    border-color: #32548d;
    text-transform: uppercase;
    margin-left: 100px;
}

.orgaos-municipais {
    width: 91px;
    margin-right: 15px;
    float: left;
    margin-top: 10px;
    height: 25px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #4d76bd;
    font-weight: bold;
    border-color: #32548d;
}

.float-right {
  float: right;
  margin-right: 155px;
}

.white-menu {
  list-style: none;
    text-transform: uppercase;
    float: left;
    padding: 0;
}

.white-menu li {
    height: 42px;
    line-height: 42px;
    margin-right: -2px;
    margin-top: 0;
}

.white-menu a {
  font-size: 14px;
  font-weight: 900;
  display: initial !important;
}

.white-menu li a:visited {
    text-decoration: none;
    color: #FFFFFF !important;
    font-weight: 900;
    letter-spacing: 1px;
}

.white-menu li a:link {
    color: #FFFFFF !important;
    text-decoration: none;
}

.white-menu li a:hover{
    background-color: transparent;
}

.white-menu .color1 {
    border-top: 3px solid #6fbeea;
}

.white-menu .color2 {
    border-top: 3px solid #fbad18;
}

.white-menu .color3 {
    border-top: 3px solid #638f3e;
}

.white-menu .color4 {
    border-top: 3px solid #d74b27;
}

.white-menu .color5 {
    border-top: 3px solid #000;
}

.buscar {
  margin-right: 21px;
  margin-top: 10px;
  width: 280px;
}

.right-notice {
  height: 269px;
  margin-top: 24px;
  border: 1px solid #E5E5E7;
  background: #F8F8F8;
  color: #666;
  padding: 5px 10px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 10px #eee;
  text-shadow: 0 1px 0 #fff;
  line-height: normal;
}

.right-notice span {
  display: inline-block;
  width: auto;
  color: #FFFFFF!important;
  text-transform: uppercase;
  padding: 5px;
  left: 10px;
  height: auto;
  border: 2px solid #A1C6E0;
  background: #496DB7;
  -webkit-border-radius: 2px;
  font-size: 10px!important;
  margin: 3px 0 13px 0!important;
}

.right-notice li{
  list-style:none;
  margin-bottom: 5px;
}

.carousel-inner {
  margin-top: 25px;
  max-height: 268px;
}

.todas-noticias {
  position: absolute;
  bottom: 10px;
  right: 24px;
  float: right;
  font-size: 10px;
  margin-top: 5px;
  font-weight: bold;
}

.servicos-cidadao {
  background: #f8f8f8;
  float: left;
  margin-top: 7px;
}

.title-services {
  background: #4c76ba;
  height: 46px;
  margin-bottom: 17px;
}

.title-services h3 {
  text-align: center;
  color: white;
  padding-top: 10px;
  font-weight: bold;
  margin-top: 0;
}



.grid-1, .grid-2 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.grid-1 {
  width: 60px;
}

.box-servicos-img {
    height: 72px;
    margin: 10px 0;
}

.grid-2 {
  width: 140px;
}

.box-servicos {
    height: 79px;
    margin: 10px 0;
}

.box-servicos h1 {
    font-size: 12px;
    display: inline;
    margin: 5px 0;
    color: #575c96;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

.box-servicos ul {
    padding: 0px 0px;
    margin: 4px 0px 0px 15px;
}

.box-servicos li {
    line-height: 135%;
    color: gray;
    font-size: 9pt;
    text-transform: lowercase;
}

.list-servicos {
    width: 122px;
    font-size: 9pt;
    color: gray;
    font-weight: bold;
    height: 18px;
    margin-top: 5px;
    text-transform: lowercase;
}

.banners {
  max-width: 220px;
  margin-top: 7px;
}

.banners img {
  margin-bottom: 7px;
}
